@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-1 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-img.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;

}

.bg-2 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-with-controllers-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;

}

h1 {
    color: white;
}

p {
    color: white;
}

button {
    background-color: transparent;
    color: white;
    border-color: white;
    border-width: 3px;
    border-radius: 7px;
    width: 150px;
    height: 40px;
    margin: 10px;
}

.topic {
    color: #1f2933;
    font-weight: bold;
    font-size: 45px;
}

#blue {
    background-color: #1754a1;
    color: white;
}
